<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.ja1984.twee"
    android:versionCode="2"
    android:versionName="1.01" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Light" >
        <activity
            android:name="se.ja1984.twee.HomeActivity"
            android:label="@string/title_activity_home"
            android:value=".SearchableActivity"
            android:configChanges="keyboardHidden|orientation"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name="se.ja1984.twee.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:configChanges="keyboardHidden|orientation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.ja1984.twee.HomeActivity" />
        </activity>
        <activity
            android:name="se.ja1984.twee.OverviewActivity"
            android:label="@string/title_activity_overview"
            android:configChanges="keyboardHidden|orientation"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.ja1984.twee.HomeActivity" />
        </activity>
        <activity
            android:name="se.ja1984.twee.SearchableActivity"
            android:label="@string/title_activity_searchable"
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.ja1984.twee.HomeActivity" />
        </activity>
        <activity
            android:name="se.ja1984.twee.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:configChanges="keyboardHidden|orientation"
             >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.ja1984.twee.HomeActivity" />
        </activity>
        <activity
            android:name="se.ja1984.twee.AboutActivity"
            android:label="@string/title_activity_about"
            android:configChanges="keyboardHidden|orientation"
             >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.ja1984.twee.HomeActivity" />
        </activity>
        <activity
            android:name="se.ja1984.twee.PreferenceFragm"
            android:label="@string/title_activity_preference" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.ja1984.twee.HomeActivity" />
        </activity>
        <activity
            android:name="se.ja1984.twee.PreferenceActivity"
            android:label="@string/title_activity_preference"
            android:configChanges="keyboardHidden|orientation"
             >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.ja1984.twee.HomeActivity" />
        </activity>
        <activity
            android:name=".BackupActivity"
            android:label="@string/title_activity_backup"
            android:configChanges="keyboardHidden|orientation"
             >
            <intent-filter>
                <action android:name="se.ja1984.twee.BackupActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.ja1984.twee.PreferenceActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:configChanges="keyboardHidden|orientation"
             >
            <intent-filter>
                <action android:name="se.ja1984.twee.ProfileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.ja1984.twee.PreferenceActivity" />
        </activity>
    </application>

</manifest>